# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.tif
*.png
*.jpg
*.JPEG
*.jpeg
*.csv
test.sh
*.xlsx
planet_download
planetlabs_notebooks
working_dir
*.txt
*.tar.gz
.DS_Store

*.cpt
*.gmt
*.sif
*.json


# ignore these on MacOS
deeplabBased/nvidia_ubuntu21.10-tf1-py3.def
img_classification/sing_container/runIn_sing.sh
multiArea_test/test_img_augment.sh
sam_dir/331_fine_tune_SAM_mito.ipynb
sam_dir/fine_tune_sam_ipynb.py
sam_dir/test_PIL_array.ipynb
sam_dir/test_sam_everything.ipynb
sam_dir/test_sam_prompt.ipynb
utility/ray_example.py
validation_merge/check_geopandas_env.py
validation_merge/compare_two_vector_file.py
web-validation/tif_2_png_json.sh
yolov4_dir/yolov4_obj.cfg
yolov4_dir/yolov4_obj_oneband.cfg

# Pycharm folder
.idea
# vscode folder
.vscode
workspace.code-workspace

processLog.txt*
split_image_info.txt*

TFrecord

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
